.homepage-container {
    height: 100vh;
    background: linear-gradient(to right, #317880, #d46f6f);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    text-align: center;
  }

  .content {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    max-width: 600px;
    color: #ffffff;

  }
  
  .content h1 {
    font-size: 90px;
    text-shadow: 3px 3px #7723bb;
    animation: fadeIn 1s ease-in;
  }
  
  .content p {
    margin: 14px 10px;
    font-size: 24px;
    color: #ffffff;
    text-shadow: 1px 2px #13d6dd;
    animation: fadeIn 1.5s ease-in;
  } 

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }