.homepage-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  font-size: large;
  padding: 20px;
  background: linear-gradient(to right, #317880, #d46f6f);
  color: whitesmoke;
}

.welcome-section {
  width: auto;
  height: auto;
  padding: 50px;
  background: linear-gradient(to right, #d46f6f, #317880);
  border: 3px solid #ffffff;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.1);
  border-radius: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; 
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  transition: all 5s ease;
  animation: buttonGlow 3s infinite alternate; 
}

.welcome-section:hover {
  background: linear-gradient(to right, #317880, #d46f6f);
  transform: scale(1.05);
  box-shadow: 0px 0px 25px rgba(119, 199, 217, 0.3);
}

.welcome-section h1, 
.welcome-section p {
  text-align: center;
  margin: 0;
}

@keyframes buttonGlow {
  0% {
    box-shadow: 0 0 5px #ffffff;
  }
  50% {
    box-shadow: 0 0 20px #ffffff;
  }
  100% {
    box-shadow: 0 0 5px #ffffff;
  }
}